<!DOCTYPE html>
<html lang="en">
     <%- include('../includes/head.ejs') %>
     <body>
          <%- include('../includes/navigation.ejs') %>
          <main>
               <% if (errorMessage.length>0) { %><% errorMessage.forEach(error=>{%> -
                    <div class="message error-message"><%=error.msg%><br /></div>
                    <% }) %><% } %> <% if(message.length>0){ %>
                    <div class="message"><%=message%></div>
                    <% } %>
               <form
                    class="product-form"
                    action="/admin/<% if(editMode==='true'){%>edit-product<%}else{%>add-product<%}%>"
                    method="POST"
                    enctype="multipart/form-data"
               >
                    <div class="form-control">
                         <label for="title">Book Title</label>
                         <input
                         class=" <%= errorMessage.find(e=>e.param==='title')?'invalid':''%> "
                              type="text"
                              name="title"
                              value="<% if(editMode==='true'||hasError){%><%=product.title%><%};%>"
                              
                         />
                         <label for="image">Image</label>
                         <input
                         
                              type="file"
                              name="image"
                             
                         />
                         <label for="description">Description</label>
                         <textarea 
                              class=" <%= errorMessage.find(e=>e.param==='description')?'invalid':''%> "\
                              
                              
                              name="description" 
                              id="description" 
                              rows="5"><% if(editMode==='true'||hasError){%><%=product.description%><%};%></textarea
                         >
                         <label for="price">Price</label>
                         <input
                              class=" <%= errorMessage.find(e=>e.param==='price')?'invalid':''%> "
                              type="number"
                              name="price"
                              step="0.01"
                              value="<% if(editMode==='true'||hasError){%><%=product.price%><%};%>"
                         />
                    </div>
                    <%if(editMode==='true'){%><input
                         type="hidden"
                         value="<%=product._id%>"
                         name="productId"
                    /><%}%>
                    <button class="btn" type="submit">
                         <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                         <% if(editMode==='true'){%> Update <%}else{%> Add Product <%}%>
                    </button>
               </form>
          </main>
          <%- include('../includes/end.ejs') %>
     </body>
</html>
