<!DOCTYPE html>
<html lang="en">
     <%- include('../includes/head.ejs') %>

     <body>
          <%- include('../includes/navigation.ejs') %>

          <main>
               <div class="centered">
                    <ul>
                         <li></li>
                         <% orders.forEach(order=>{ %>
                         <h1>Customer Name: <%=order.userId.email%></h1>
                         <li><h1># Order ID: <%= order._id %></h1></li>
                         <% order.orderItems.forEach(product=>{ %>
                         <li>Product Name: <%=product.productId.title%></li>
                         <li>Product Price: <%=product.productId.price %></li>
                         <li>Purchased Quantity: <%=product.qty %></li>
                         <li>________________________________________</li>
                         <!-- Creating a form for Post request instead because it is easier to compare and more secure then (Cleaner in a way)-->
                           
                         
                         <% }); %>
                         <li><form action ="/invoice/<%=order._id%>" method="POST">
                              <input type="submit" value="GET INVOICE"> </input>
                              <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                              <input type="hidden" name="userId" value="<%=order.userId._id%>"/>
                              <input type="hidden" name="orderId" value="<%=order._id%>"/>
                         </form>  </li> <% }); %>
                    </ul>
               </div>
          </main>
          <%- include('../includes/end.ejs') %>
     </body>
</html>
